@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Oriya:wght@675&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-oriya: "Noto Sans Oriya", 'sans-serif';
    --font-stone: "Birthstone", 'cursive';
    --font-pop: "Poppins", 'sans-serif';
}

@layer components {
    .hgrad {
        background: linear-gradient(to left, red, blue, red);
        color: transparent;
        -webkit-background-clip: text;
    }

    .sca{
        @apply transform transition-transform duration-300 hover:scale-105  
    }

    .hvr{
        @apply   transition-all transform duration-300  hover:scale-110
    }

    .brd{
        @apply transition-transform duration-400 transform hover:border-b-4 border-gray-700 
    }

    .dd{
       @apply transition-all transform duration-300  hover:scale-105
    }


    
}